<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link
rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Varela Round"
/>
<div class="main" >
<nav>
  <ul>
    <li style="color:orange;font-family:Varela Round;font-weight:medium;"><a style="color:rgb(8, 8, 83)" routerLink="/ExamList">Exams</a></li>
      <li style="color:orange;font-family :Varela Round;font-weight:medium;"><a  style="color:rgb(8, 8, 83)" routerLink="/UserDashboard" >Dashboard</a></li>
      <li style="color:orange;font-family :Varela Round;font-weight:medium;"><a style="color:rgb(8, 8, 83)" routerLink="/Profile">Profile</a></li>
      <li style="color:orange;font-family :Varela Round;font-weight:medium;"><a style="color:rgb(8, 8, 83)" routerLink="/AboutUs"> About</a></li>
      <li style="color:orange;font-family :Varela Round;font-weight:medium;"><a style="color:rgb(8, 8, 83)"routerLink="/FAQ">FAQ</a></li>
      <li style="color:orange;font-family :Varela Round;font-weight:medium;"><a style="color:rgb(8, 8, 83)" routerLink="/Home">Log out</a></li>
      
  </ul>
</nav>
<div id = "Main-Container">
  <div id = "Tag" style="text-align:center;font-size:25px">Profile</div>
  
  
  <div id = "Member">Name :{{name}}</div>
  <div id = "Member">Qualification :{{qualification}}</div>
  <div id = "Member">Year of Completion :{{yearOfCompletion}}</div>
  <div id = "Member">City :{{city}}</div>
  <div id = "Member">State :{{state}}</div>
  <div id = "Member">Email :{{emailId}}</div>
  <div id = "Member">Mobile :{{mobile}}</div>

</div>
</div>