<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Varela Round"
/>

<div class="main">
    <nav>
        <ul>
          <li style="color:orange;font-family:Varela Round;font-weight:medium;color:white"><a routerLink="/ExamList">Exams</a></li>
            <li style="color:orange;font-family :Varela Round;font-weight:medium;color:white"><a routerLink="/UserDashboard" routerLinkActive="active" (click)="Dashboard()">Dashboard</a></li>
            <li style="color:orange;font-family :Varela Round;font-weight:medium;color:white"><a routerLink="/Profile">Profile</a></li>
            <li style="color:orange;font-family :Varela Round;font-weight:medium;color:white"><a routerLink="/AboutUs"> About</a></li>
            <li style="color:orange;font-family :Varela Round;font-weight:medium;color:white"><a routerLink="/FAQ">FAQ</a></li>
            <li style="color:orange;font-family :Varela Round;font-weight:medium;color:white"><a routerLink="/Home">Log out</a></li>
            
        </ul>
      </nav>
<div style="margin-top:70px;margin-left:50px">
<h2>1. What kinds of questions are supported on the examination platform?<br></h2>

 <p>Supports  MCQ range of question type.<br></p>

  <h2>2.What kinds of devices are supported on the exam platform?<br></h2>

  <p>Quiz and mid-lesson tests  can smoothly run on laptop, desktop.<br></p>

 <h2>3. Is the system compatible with Windows/Android/iOS?<br></h2>
 <p>Yes, the system is compatible with Windows/Android/iOS software.<br></p>

<h2>4.Do we need to create a question bank in a CSV format to upload 100 or more MCQs?<br></h2>

<p>Examiners can create their questionnaires in a CSV file and bulk upload them on our 
    examination platform.</p>
<h2>5.Can we continue the test even if we dont clear level1?<br></h2>

<p> No.</p>

</div>
</div>
