<div class="outer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela Round">
  <nav>
    <ul>
      <li style="font-family: Varela Round;font-weight:medium;color:white"><a routerLink="/AdminHome">Dashboard</a></li>
        <li style="font-family: Varela Round;font-weight:medium;color:white"><a routerLink="/AboutUs"> About</a></li>
          <li style="font-family: Varela Round;font-weight:medium;color:white"><a routerLink="/FAQ">FAQ</a></li>
          <li style="font-family: Varela Round;font-weight:medium;color:white"><a routerLink="/Home">Log out</a></li>
    </ul>
  </nav>

  <div style="padding-top: 40px;padding-left:40px;color:rgb(8, 8, 83);
display: inline-block;font-family :Varela Round;font-weight: bold;font-size: 50px; text-align:left;">DASHBOARD</div>

<div style="color:rgb(8, 8, 83);
font-family :Varela Round;font-weight: bold;font-size:50 px;margin-left:35px;margin-bottom:20px">&nbsp;&nbsp;&nbsp;Admin</div>
<div style="padding-left: 20%;
padding-top: 100px;">
  <button id = "My-Block" style="align-content: center;" routerLink="../AddFile">Add<br>Questions</button>
    <button id = "My-Block" style="align-content: center;" routerLink="../RemoveFile">Remove<br>Questions</button>
    <button id = "My-Block" style="align-content: center;" routerLink="../Search">Search<br>Students</button>
</div>
</div>
    
 
