<link rel="stylesheet" href="https://fonts.googleapis.com/css?family= Varela Round">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="main">
    <div class="outer">
        <div style="text-align: center; margin-bottom: 30px;">
        <h3>Reset Your Password</h3>
        </div>
        <div *ngIf="isPress">
            <div style="text-align: center; height: 110px;"><p style="font-size: 20px; margin-bottom: 50px; font-weight: bold;">Updating your Password...</p></div>
            <!-- <img class="img-responsive" style="margin: 0 auto;
            width: 100px;
            position: static;
            float:right;
            margin-right: 250px;
            margin-top: -70px;" src="../../assets/loading.gif" alt=""> -->
          </div>
          <div *ngIf="isSuccess" style="text-align: center;">
  <p style="font-size: 40px; color: green;"><i class="fa fa-check-circle-o" style="font-size: 60px; float: none;" aria-hidden="true"></i></p>
  <p style="color: green; font-size: 30px;">Password Updated Successfully</p>  
  <p><a href="/home" style="font-size: 20px;">Back to Login &nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></a>
  </p>
</div>
        <form *ngIf="!isSuccess && !isPress" [formGroup]="ConForm" (ngSubmit)="SubmitPass()">
            <div class="form-group">
              <label>Enter your registered Email</label>
              <input type="text" class="form-control" class="w3-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" formControlName="email">
              <span style="color: red;" class=""  *ngIf="email?.errors && email?.touched">
                <span *ngIf="email?.errors?.required">Email is Required</span>
                <span *ngIf="email?.errors?.pattern">incorrect format</span>
            </span>
            </div>
            <div class="form-group">
                <label>Enter the secret passcode</label>
                <input type="text" class="form-control"  class="w3-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter secret passcode" name="passcode" formControlName="passcode">
                <span style="color: red;" class=""  *ngIf="passcode?.errors && passcode?.touched">
                  <span *ngIf="passcode?.errors?.required">Passcode is Required</span>
              </span>
              </div>
              <div class="form-group">
                <label>Enter New Password</label>
                <input type="password" class="form-control" class="w3-input"  title="Must contain at least 8 characters&#10;Must contain at least one uppercase letter&#10;Must contain at least one lowercase letter&#10;Must contain at least one number&#10;Must contain at least one special characters(!”#$%&'()*+,-./:;<=>?@[\]^_`{|}~ )" placeholder="Enter new password" name="password" formControlName="password">
                <span style="color: red;" class=""  *ngIf="password?.errors && password?.touched">   
                  <span *ngIf="password?.errors?.required">Password is Required</span>
                    <span *ngIf="password?.errors?.pattern">incorrect format</span>
                  </span>
              </div>
              <div class="form-group">
                <label>Confirm New Password</label>
                <input type="password" class="form-control" class="w3-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter new password again" name="password2" formControlName="password2">
                <span style="color: red;" class=""  *ngIf="ConForm.hasError('notSame')">
                    <span *ngIf="ConForm.hasError('notSame')">Password is not Same</span>
                    </span>
                
              </div>
        <div style="text-align: center;">
          <button class="but"  class="w3-input" [disabled] ="ConForm.invalid" type="submit">Register</button>
        </div>
</form>
    </div>
</div>
