

   
<!-- <div class="outer">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">RANJ-Shaping Futures</a>
        </div> -->
       <!--  <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="../dashboard"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li><a routerLink="/home" (click)="Exit()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
     
        </ul> -->
    
     <!--  </div>
    </nav> -->
     <!-- <div class="about-section" style="margin-top: -25px;"> -->
        <!-- <h1 style="margin-bottom: 20px;">Hassle Free Placements!!!</h1>
        <p>We at this portal, provide you a one step solution to all your placement process hassle.</p>
          <p> Both, the student and
            the company can collaborate via our platform with ease and satisfaction.</p>
        
        <p>Presenting a gallon of opportunities at your doorsteps in these testing and unpredictable times.</p>
        <p>No pandemic should stop us from shaping our futures.</p> -->
     <!-- </div> -->
      
     <link
     rel="stylesheet"
     href="https://fonts.googleapis.com/css?family=Varela Round"
   />
   
   <div class="background">
       
   <nav>
       <ul>
              <li style="font-family: Varela Round;font-weight:medium;color:white"><a routerLink="/AboutUs"> About</a></li>
      
              <li style="font-family: Varela Round;font-weight:medium;color:white"><a routerLink="/FAQ">FAQ</a></li>
       </ul>
   </nav>
   
   <div style = "margin-right: 800px;">
      <div class="main">
       <div class ="container" style="font-family:Varela Round; text-align:center;margin-bottom: 5px;margin-left:15px">
         
           <div style="font-family:Varela Round; text-align:center">
            ABOUT US
            <br>
             Hakathon provides you a one step solution to all your placement process hassle.Both the student and the company can collaborate via our platform with ease and satisfaction. Presenting a gallon of opportunities at your doorsteps in these testing and unpredictable times.No pandemic should stop us from shaping our futures.
             Made by Varada,Aditya,Amrutha and Pankaj from LTI.
          </div>
    <br>
       
       
   
   
     </div>
   </div>
   
   </div>
   