<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Varela Round"
/>

<div class="background">
    
<nav>
    <ul>
           <li style="font-family: Varela Round;font-weight:medium;color:white"><a routerLink="/AboutUs"> About</a></li>
   
           <li style="font-family: Varela Round;font-weight:medium;color:white"><a routerLink="/FAQ">FAQ</a></li>
    </ul>
</nav>

<div style = "margin-right: 800px;">
   <div class="main">
    <div class ="container">
        <img src = '../../assets/logo.png' style = "height:150;width:150px;align:center;margin-left: 95px;margin-top:20px" />
        </div><h1 style="font-size:20px ;font-family: Varela Round;font-weight:medium;"> Welcome to<br></h1>
         <h2 style="font-size:50px;color:orange;font-family: Varela Round;font-weight:bold">Hakathon</h2>
    <p style="font-family: Varela Round;font-weight:medium;">The best platform to test your skills.<br>
<br>Sign up and find great exams for <br>the hottest techologies in town.</p>
 <br>
    <div class="button">
        <button (click)="login()" >Login</button>
            <button (click)="signup()">Signup</button>
            <button  (click)="adminlogin()" > Admin Login </button>
    </div>
    


  </div>
</div>

</div>
