.pdfb{
    height: 35px; border:2px solid rgb(8, 8, 83); background-color: white;
    border-radius: 5px;
}
.pdfb:hover{
    color: white;
    background-color: rgb(8, 8, 83);
}
#Main-Container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
   
}
#Tag{
    border-radius: 10px;
    background-color: orange;
    padding: 5px;
    margin: 10px;
}
#Member{
    margin:10px;
    font-size: 20px;
}
#btn{
margin-bottom:10px;
}




body {
    margin: 30px;
    font-family :Varela Round;
  }
  table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
    font-family :Varela Round;
  }
  table tr th,
  table tr td {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px;
    font-family :Varela Round;
  }
  table tr th:first-child,
  table tr td:first-child {
    border-left: 1px solid white;
    font-family :Varela Round;
  }
  table tr th {
    background: #eee;
    border-top: 1px solid white;
    text-align: left;
    font-family :Varela Round;
  }
  
  /* top-left border-radius */
  table tr:first-child th:first-child {
    border-top-left-radius: 6px;
    font-family :Varela Round;
  }
  
  /* top-right border-radius */
  table tr:first-child th:last-child {
    border-top-right-radius: 6px;
    font-family :Varela Round;
  }
  
  /* bottom-left border-radius */
  table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
    font-family :Varela Round;
  }
  
  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
    font-family :Varela Round;
  }
  button{
    width: 110px;
    height: 50px;
    background-color: orange;
         color :white;
         padding: 10px;
         margin: 4px 2px;
         text-align:center;
         display:inline-block;
         border-radius:12px ;
         border:none;
         font-size: 16px;
         font-family :Varela Round;
         font-weight:bold;



}
.button:hover{
    color: white;
    background-color: rgb(252, 192, 80);
    
}